@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*   Constructer of Stylesheet
 * 1.general
 * 2.layout
 * 3.template( common components, footer, header, scroll)
 * 4.content ( style for each seation)
 * 5.layout on smartphone(sp)
 * 6.template for sp
 * 7.content for sp
 * ※The breakpoint is 768, so please change it according to the site*/


/****************
   1.GENERAL 
*****************/

html {
    font-size: 10px;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}


/****************
  2.LAYOUTS 
  *****************/

.inner {
    margin: 0 auto;
    height: 100%;
    width: 98%;
    max-width: 1120px;
}

@media only screen and (min-width: 768px) {
    .container,
    #header {
        min-width: 1120px;
    }
}


/****************
   3. Template 
*****************/


/* ********************** Header Section ********************************* */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

#header a img {
    margin-left: 20px;
}

#gNav nav .nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_list li {
    margin-left: 35px;
}

.nav_list li:last-child {
    margin-left: 19px;
}

.nav_list li {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
}

.nav_list .header_email {
    line-height: 0;
}

.nav_list .header_email a:hover {
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.nav_list li a {
    color: #333333;
}

.nav_list li a:hover {
    color: #0c46c1;
}


/* End global gNav */

.btn_header_toggle {
    display: none;
}

.menu-toggle {
    display: none;
}


/* **********************  End Header Section ********************************* */


/* **********************  Start Footer Section ********************************* */

.pagetop {
    width: 100%;
    height: 80px;
    background-color: #0c46c1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.pagetop:hover {
    cursor: pointer;
}

.pagetop p {
    position: relative;
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    bottom: -12px;
}

.pagetop p::before {
    position: absolute;
    content: "";
    background-image: url("../img/common/icon_scrolltop.png");
    width: 34px;
    height: 19px;
    bottom: 25px;
    left: 3px;
    background-size: cover;
}


/* End scroll Toppage */

#footer {
    background-color: #313738;
}

.ft_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ft_address {
    width: 50%;
}

.ft_links {
    width: 41.5%;
}

.ft_address a img {
    margin-top: 40px;
    margin-bottom: 9px;
}

.ft_address p {
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.ft_address .ft_contents01 {
    font-weight: bold;
}

.ft_links div a {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: inline-block;
}

.ft_links_top {
    margin-top: 47px;
}

.ft_links_top a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.ft_links_botom a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.ft_links_top a,
.ft_links_botom a {
    margin-left: 32px;
}

.copyright {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 30px;
}


/* **********************  End Footer Section ********************************* */


/**************** 4. Content *****************/


/* start  top banner */

.bnr_top {
    margin-top: 70px;
}

.bnr_top img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
}


/* End Banner */


/* start news section */

.top_sec01_wrap {
    display: flex;
    text-align: center;
    padding-top: 104px;
    padding-bottom: 111px;
    padding-left: 26px;
}

.top_sec01 h2 {
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 4px;
    text-align: center;
    color: #333333;
}

.top_sec01_news {
    background-repeat: no-repeat;
    max-width: 100%;
    align-self: center;
    margin-left: 30px;
    margin-right: 62px;
}

.top_sec01 .top_sec01_news p {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    margin-left: auto;
}

.top_sec01 p a {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.top_sec01 p span {
    color: #2458c7;
    padding-right: 19px;
}


/* End top sec01*/

.top_sec02 {
    background-image: url("../img/top/bg_top_company01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 140px;
}

.wrap_top_sec {
    padding: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_sec03 .wrap_top_sec {
    margin-top: 18px;
    padding-top: 106px;
    padding-bottom: 30px;
}

.ttl_section {
    font-size: 4.5rem;
    letter-spacing: 4.5px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
}

.sub_ttl_section {
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-top: 21px;
}

.sub_ttl_section p {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
}

.sec_description {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 46px;
    margin-bottom: 60px;
}

.btn_top_more img {
    background-repeat: no-repeat;
    max-width: 100%;
}

.btn_top_more a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn_top_more a {
    transition: all .3s;
}


/* End top sec02 */

.top_sec03 {
    background-image: url("../img/top/bg_top_recruit01.png");
    padding: 70px 0 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 13px;
    margin-top: -167px;
}


/* End top sec03 */

.top_sec04 {
    background-image: url("../img/top/bg_top_product.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -53px;
}

.top_sec04 div.wrap_top_sec {
    padding: 102px 0;
}

.top_sec04 .ttl_section {
    padding-top: 25px;
}


/* End top sec04 */

.btn_top_contact {
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
}

.btn_top_contact a {
    background-image: url("../img/top/btn_top_company.jpg");
    background-repeat: no-repeat;
    padding: 38px 324px;
}

.btn_top_contact a span {
    font-size: 2.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
}

.btn_contact_top {
    margin-top: 100px;
    background-image: url("../img/top/btn_\ contact.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 800px;
    width: 100%;
    height: 100px;
    position: relative;
    transition: all 0.5s;
}

.btn_contact_top::after {
    content: "";
    background-image: url(../img/top/icon_arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 19px;
    display: inline-block;
    right: 17px;
    top: 42%;
    position: absolute;
    z-index: 0;
}

.btn_contact_top:hover {
    opacity: 0.7;
}

.btn_contact_top a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 12px 40px;
    cursor: pointer;
    transition: all 0.3s;
}


/* End top page content */


/* Start company content */

.ttl_page {
    background: url(../img/common/bg_company_ttle_pc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px
}

.ttl_page h2 {
    text-align: center;
    padding-top: 57px;
    padding-bottom: 46px;
}

.ttl_page h2 img {
    max-width: 100%;
}


/* breadcrumb section */

.breadcrumb {
    background-color: #0c46c1;
    width: 100%;
}

.breadcrumb ul {
    display: flex;
    padding: 3px 0 5px;
}

.breadcrumb li {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: -4px;
    position: relative;
}

.breadcrumb li:nth-child(2) {
    padding-left: 49px;
}

.breadcrumb li:nth-child(1)::after {
    content: "";
    width: 7px;
    height: 10px;
    margin: 12px 20px;
    background: url(../img/company/icon_breadscrum.png);
    position: absolute;
}


/* company sec01 */

.company_sec01 {
    margin-top: 83px;
}

.ttl_content01 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 3px;
    color: #333333;
    position: relative;
    z-index: -1;
}

.ttl_content01 span img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.ttl_content01::after {
    content: "";
    height: 1px;
    background: url(../img/common/border_ttl_content.png);
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 3px;
}

.box {
    margin-top: 45px;
    background-color: #f0f4fb;
    padding-bottom: 21px;
    margin-bottom: 80px;
    padding-right: 24px;
}

.box p {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    color: #333333;
    padding-left: 29px;
}

.box p:first-child {
    padding-top: 28px;
}

.box p:nth-child(2) {
    padding-top: 15px;
    padding-bottom: 14px;
}


/* end company sec01 */


/* Start section 02 */

.company_sec02.inner {
    width: 95%;
}

.infor_table tr th:after {
    content: "";
    height: 2px;
    background: url(../img/company/border_table_th.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.infor_table tr td {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4;
    letter-spacing: 0.8px;
    text-align: left;
    padding: 9px 20px 11px 20px;
    position: relative;
    z-index: -1;
    vertical-align: middle;
}

.company_sec02 div.infor_table tbody tr td {
    padding: 9px 20px 11px 20px;
}

.company_sec02 div.infor_table tbody tr:nth-child(2) td {
    padding: 6px 20px 9px 20px;
}

.company_sec02 div.infor_table tbody tr:nth-child(3) td {
    padding: 3px 20px 4px 20px;
}

.company_sec02 div.infor_table tbody tr:nth-child(2) th {
    padding: 4px 19px 7px;
}

.company_sec02 div.infor_table tbody tr:nth-child(3) th {
    padding: 4px 19px 5px;
}

.company_sec02.infor_table tr:nth-child(4) td {
    padding: 13px 20px 20px;
    line-height: 1.7;
}

.company_sec02.infor_table tr:nth-child(4) th {
    vertical-align: text-top;
}

.company_sec02 div.infor_table tbody tr:last-child td {
    padding: 17px 20px;
    line-height: 1.8;
}

.infor_table tr td::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #f0f4fb;
    position: absolute;
    left: 0;
    bottom: 0;
}

.infor_table table tbody tr th {
    width: 130px;
    position: relative;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3;
    letter-spacing: 0.8px;
    text-align: left;
    color: #0c46c1;
    z-index: -1;
    padding: 5px 20px;
}

.infor_table table tbody tr th:nth-child(3) {
    vertical-align: text-top;
}

table {
    width: 100%;
}

.pic_services {
    margin-top: 30px;
}

.pic_services img:nth-child(2) {
    padding-left: 17px;
}

.company_sec02 .map {
    margin-top: 50px;
    margin-bottom: 76px;
}

.map iframe {
    width: 100%;
    height: 350px;
}

.note-map {
    margin-top: 21px;
}

.note-map p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #0c46c1;
    padding-bottom: 15px;
}

.note-map span {
    font-weight: normal;
    color: #333333;
    display: block;
    padding-left: 20px;
}

.infor_table {
    margin-top: 50px;
}

.company_sec02 .infor_table {
    margin-top: 45px;
}

.company_sec02 .infor_table tbody tr:nth-child(6) th {
    padding: 7px 19px;
}

.company_sec01 div.box {
    margin-bottom: 84px;
}

.company_sec02 .infor_table tr:nth-child(4) td {
    padding: 14px 20px 19px 20px;
    line-height: 1.7;
    letter-spacing: 0.3px;
}


/* End company content PC */


/* start product content for PC */

.ctn_bussiness {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.ctn_bussiness_left {
    max-width: 720px;
    width: 65%;
}

.info_product h4.ttl_info_product {
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.45;
    text-align: left;
    color: #333333;
    position: relative;
    padding-left: 19px;
    margin-top: 25px;
    margin-bottom: 19px;
    z-index: -1;
}

.info_product:nth-child(7) h4.ttl_info_product {
    margin-top: 18px;
}

.info_product:nth-child(1) h4.ttl_info_product {
    margin-top: 30px;
}

.info_product h4.ttl_info_product::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 23px;
    background-color: #0c46c1;
    top: 5px;
    left: 0;
}

.info_product p.des_info_product {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
    text-align: left;
    color: #333333;
    border: solid 1px #f0f4fb;
    margin-bottom: 20px;
    padding: 13px 17px;
}

.ctn_bussiness_right {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.ctn_bussiness_right img {
    margin-bottom: 20px;
}

.product_sec01 div.box p {
    font-weight: normal;
}

.product_sec01 .box p span:first-child {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: 1.8px;
    position: relative;
}

.product_sec01 .box p span:nth-child(2) {
    margin-left: 10px;
}

.product_sec01 .box p span:first-child::after {
    content: "ー";
    width: 20px;
    height: 1px;
    font-weight: 300;
    color: #333333;
    padding-left: 10px;
}

.product_sec01 {
    margin-top: 85px;
}

.product_sec02 {
    margin-top: 85px;
}

.list_menufactor_product {
    display: flex;
    justify-content: start;
    margin-top: 37px;
    margin-bottom: 92px;
}

.list_menufactor_product ul {
    width: 33.33%;
}

.list_menufactor_product ul li a img {
    padding-top: 15px;
}

.list_menufactor_product ul li {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
    text-align: left;
    color: #333333;
}

.product_sec01 .box {
    margin-top: 30px;
    padding-bottom: 22px;
    margin-bottom: 0;
}

.product_sec01 .box p {
    padding-left: 30px;
    padding-top: 20px;
}


/* End product content for PC */


/* Start Recruit for PC */

.recruit_sec01 {
    margin-top: 85px
}

.recruit_sec01 div .box {
    margin-bottom: 0;
    margin-top: 28px
}

.recruit_sec01 .box p {
    padding-left: 32px;
    padding-top: 31px;
    padding-bottom: 9px;
}

.recruit_sec01 div.infor_table tr td {
    letter-spacing: 0.3px;
}

.recruit_sec01 div.infor_table tr:last-child td {
    padding: 14px 20px 21px 20px;
    line-height: 1.7;
}

.recruit_box01 h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: 1.8px;
    color: #333333;
    padding-top: 27px;
}

.recruit_box01 {
    padding-left: 29px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.recruit_sec02 .box.recruit_box01 p {
    padding-top: 8px;
    padding-bottom: 5px;
}

.recruit_sec02 .box.recruit_box01 p.tel_text {
    padding-bottom: 7px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.recruit_btn {
    margin-top: 50px;
}

.recruit_sec01 .infor_table {
    margin-top: 23px;
}

.recruit_box01 h4 span img {
    display: inline-block;
    padding-top: 0px;
    margin-bottom: -5px;
    padding-right: 10px;
}

.infor_table table tbody tr th {
    padding: 4px 19px 8px;
}

.infor_table table tbody tr:nth-child(4) th {
    vertical-align: text-top;
}

.recruit_sec01 div.infor_table tbody tr:nth-child(4) th {
    padding: 4px 19px 6px;
}

.recruit_box01 p {
    font-weight: normal;
    padding-left: 0px;
    padding-top: 7px;
}

.child_box02 {
    padding-left: 23px;
    padding-top: 21px;
    padding-bottom: 15px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.child_box02 ul.content_list li.Tel {
    padding-left: 0;
    margin-top: 9px;
}

.btn_contact {
    margin-bottom: 100px;
}

.btn_contact a {
    display: flex;
    justify-content: center;
}

.recruit_sec02 {
    margin-top: 83px;
}


/* End Recruit for PC */


/* Start contact for PC */

.contact_sec01 {
    margin-top: 84px;
}

.contact_sec02 {
    margin-top: 83px;
}

.contact_box {
    background: #f0f4fb;
    border: 1px solid #c2d1ef;
    padding-bottom: 56px;
    padding-top: 27px;
    margin-top: 45px;
}

ul.content_list li {
    display: inline-block;
    float: left;
    padding-left: 30px;
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.33;
    color: #0c46c1;
    letter-spacing: 1.2px;
}

ul.content_list li:last-child {
    padding-left: 27px;
}

ul.content_list li span {
    max-width: 100%;
    height: auto;
}

.contact_box ul li:nth-child(2) span {
    padding-left: 6px;
}

ul.content_list li a {
    color: inherit;
    line-height: 1.33;
    letter-spacing: 1.2px;
    font-size: 2.4rem;
    vertical-align: text-top;
    padding-left: 11px;
}

.contact_instruction p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
    color: #333333;
    margin-top: 39px;
}

.contact_instruction p span {
    color: #c10c0c;
}

.contact_instruction p a {
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 3px;
}

.contact_instruction p a:hover {
    opacity: 0.7;
}

.table-contact {
    margin-top: 40px;
}

.table-contact tr {
    border-bottom: 1px solid #ffffff;
}

.table-contact tr th {
    width: 210px;
    padding-left: 2%;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    background-color: #0c46c1;
    vertical-align: middle;
}

.table-contact tr th img.require {
    margin-top: -2px;
    float: right;
    max-width: 100%;
    vertical-align: middle;
    margin-right: 20px;
}

.table-contact tr td {
    background: #f0f4fb;
    padding: 20px;
}

.table-contact tr:nth-child(2) td,
.table-contact tr:nth-child(3) td,
.table-contact tr:last-child td {
    padding: 20px 20px 10px 20px;
}

.table-contact tr td input {
    border: none;
    width: 100%;
    padding: 0;
    min-height: 35px;
    padding: 0 20px;
}

.table-contact tr td textarea {
    border: none;
    width: 100%;
    padding: 0;
    min-height: 150px;
    padding: 10px 20px;
}

.submit_contact {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.submit_contact input {
    background-image: url("../img/contact/btn_submit_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 120px;
    height: 60px;
}

.is-error {
    color: #c10c0c;
}

.is_error_textarea,
.is_error_mail,
.is_error_name {
    padding-top: 10px;
}


/* End contact for PC */


/* Start policy privacy  */

.privacy_content {
    margin-top: 85px;
}

.privacy_content .box {
    padding-top: 31px;
    padding-left: 28px;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.privacy_content div.box_policy01 {
    padding-top: 32px;
}

.privacy_content .box_policy02 {
    padding-bottom: 30px;
}

.privacy_content .privacy_wrap p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.privacy_content p.des_first_ttl {
    margin-top: 36px;
}

.privacy_content .box_policy01 h4 {
    background-image: url("../img/privacy/list01_policy.png");
}

.privacy_content .box_policy02 h4 {
    background-image: url("../img/privacy/list02_policy.png");
}

.privacy_content .box_policy03 h4 {
    background-image: url("../img/privacy/list03_policy.png");
}

.privacy_content .box_policy04 h4 {
    background-image: url("../img/privacy/list04_policy.png");
}

.privacy_content .box_policy05 h4 {
    background-image: url("../img/privacy/list05_policy.png");
}

.privacy_content .box h4 {
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.8rem;
    letter-spacing: 1.8px;
}

.privacy_content .box p {
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 3px;
}

.privacy_content .box_policy03 p,
.privacy_content .box_policy04 p,
.privacy_content .box_policy05 p {
    padding-bottom: 5px;
}

.box_policy02 div.privacy_box {
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 18px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.privacy_content .box_policy02 .child_box02 ul li {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 33px;
}

.privacy_content .box_policy02 .child_box02 ul li:nth-child(2) {
    margin-bottom: 4px;
    margin-top: 4px;
}

.box_policy02 .child_box02 ul li:first-child {
    background-image: url("../img/privacy/icon_ list_privacy01.png");
    background-position: 0 4px;
}

.box_policy02 .child_box02 ul li:last-child {
    background-image: url("../img/privacy/icon_list_privacypolicy03.png");
    background-position: 0 4px;
}

.box_policy02 .child_box02 ul li:nth-child(2) {
    background-image: url("../img/privacy/icon_list_privacy02.png");
    background-position: 0 4px;
}

.privacy_content .box:last-child {
    margin-bottom: 100px;
}


/* End policy privacy  */


/* start Site map page  */

.sitemap_contents {
    background: #f0f4fb;
    margin-top: 45px;
    padding: 30px;
}

.sitemap_contents ul li a {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.78;
    letter-spacing: 1.8px;
    text-align: left;
    color: #333333;
    position: relative;
    /* z-index: -1; */
}

.sitemap_contents ul li:hover {
    cursor: pointer;
    background-color: #bbdefb;
}

.sitemap_contents ul li {
    background-color: #ffffff;
    max-width: 340px;
    width: 32%;
    padding: 24px 43px;
}

.sitemap_contents ul li a::before {
    content: "";
    width: 7px;
    height: 12px;
    position: absolute;
    background-image: url("../img/sitemap/icon_sitemap_pointing.png");
    top: 30%;
    left: -20px;
}

.sitemap_contents ul {
    display: flex;
    justify-content: space-around;
}

.sitemap_contents ul:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sitemap_contents ul li:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}

.sitemap_contents ul:first-child {
    justify-content: flex-start;
}

.sitemap_content {
    margin-top: 85px;
    margin-bottom: 100px;
}


/* End Site map page  */


/****************
   6.template for sp
*****************/

@media only screen and (max-width: 768px) {
    #gNav.open {
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        padding: 30px;
        background: linear-gradient(148deg, rgba(25, 133, 168, 1) 30%, rgba(125, 181, 199, 1)52%);
        width: 100vw;
        height: 100vh;
    }
    #gNav {
        display: none;
    }
    #gNav nav .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_list li {
        border-bottom: 1px solid #dce2e4;
        display: block;
        padding: 10px 0;
        margin-left: 0;
        width: 100%;
    }
    .nav_list li:last-child {
        margin-left: 0;
    }
    .nav_list li a {
        color: #ffffff;
        float: left;
    }
    .nav_list li a:hover {
        color: #0c46c1;
    }
    #header a img {
        margin-left: 0;
    }
    #header h1 a img {
        margin-left: 20px;
        width: 80%;
    }
    /* burger menu */
    .menu-toggle {
        padding: 1em;
        position: absolute;
        top: 1em;
        right: .5em;
        cursor: pointer;
        display: block;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: linear-gradient(110deg, rgba(12, 153, 193, 1) 31%, rgba(12, 70, 193, 1) 100%);
        height: 3px;
        width: 2em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    .hamburger::before {
        transform: translateY(-7px);
    }
    .hamburger::after {
        transform: translateY(4px);
    }
    .close .hamburger {
        transform: rotate(45deg);
    }
    .close .hamburger::before {
        display: none;
    }
    .close .hamburger::after {
        transform: translateY(1px) rotate(-90deg);
    }
    /* End header */
    .pagetop {
        height: 60px;
    }
    .pagetop p {
        font-size: 1rem;
    }
    .pagetop p::before {
        width: 26px;
        height: 14px;
        left: 4px;
        bottom: 24px;
    }
    .ft_contents {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #c7c7c7;
    }
    .ft_address {
        width: 100%;
        text-align: center;
    }
    .ft_address p {
        text-align: center;
        font-size: 1.4rem;
    }
    .ft_links {
        width: 100%;
        padding-bottom: 11px;
    }
    .ft_links_top {
        margin-top: 20px;
        text-align: center;
    }
    .ft_links_top a:first-child {
        margin-left: 0;
    }
    .ft_links_botom a:first-child {
        margin-left: 0;
    }
    .ft_links_botom {
        text-align: center;
    }
    .ft_links div a {
        font-size: 1.3rem;
        text-align: center;
    }
    .ft_links_top a,
    .ft_links_botom a {
        margin-left: 15px;
    }
    .copyright {
        padding-top: 20px;
        font-size: 1rem;
    }
    .ttl_page h2 img {
        height: 60px;
    }
    .ttl_page h2 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .breadcrumb li {
        font-size: 1.4rem
    }
    .breadcrumb li:nth-child(1)::after {
        margin: 10px 18px;
    }
    .breadcrumb li:nth-child(2) {
        padding-left: 43px;
    }
    ul.content_list li a {
        font-size: 2rem;
        line-height: 1;
        vertical-align: text-top;
    }
    ul.content_list li span img {
        height: 22px;
        vertical-align: top;
    }
    .child_box02 ul.content_list li.Tel {
        margin-top: 7px;
        font-size: 2rem;
    }
    .recruit_sec02 .box.recruit_box01 p.tel_text {
        padding-top: 0;
    }
}

@media only screen and (max-width: 475px) {
    #header h1 a img {
        margin-left: 20px;
        width: 63%;
    }
}


/* End footer section */


/**************** 7.Content for sp  *****************/

@media only screen and (max-width: 768px) {
    .btn_top_contact {
        margin: 60px 0;
    }
    .btn_top_contact a {
        padding: 5% 18%;
        width: 14%;
        background: linear-gradient(334deg, rgba(12, 153, 193, 1) 41%, rgba(12, 70, 193, 1) 100%);
    }
    .btn_top_contact a span {
        font-size: 2rem;
    }
    /* End button contact */
    .wrap_top_sec {
        padding: 56px;
    }
    .top_sec03 .wrap_top_sec {
        padding-top: 47px;
    }
    .top_sec04 {
        margin-top: -32px;
        padding-top: 41px;
    }
    .top_sec04 div.wrap_top_sec {
        padding: 18px;
    }
    .btn_contact_top {
        margin-top: 50px;
        max-width: 420px;
        height: 65px;
    }
    .btn_contact_top a {
        font-size: 2rem;
    }
    .btn_contact_top::after {
        width: 10px;
        height: 15px;
        top: 39%;
    }
    .ttl_section {
        font-size: 3rem
    }
    .sub_ttl_section p {
        font-size: 1.2rem;
    }
    .sub_ttl_section {
        width: 97px;
        padding-top: 6px;
        margin-top: 13px;
    }
    .sec_description {
        display: none;
    }
    .btn_top_more {
        width: 280px;
        height: 50px;
        padding-top: 7px;
        margin-top: 20px;
    }
    .top_sec03 {
        margin-top: -80px;
        padding: 50px 0;
    }
    .top_sec03 div h4 {
        padding-top: 11%;
    }
    .top_sec02 {
        padding-top: 0;
        padding-bottom: 50px;
        height: 300px;
    }
    .top_sec02,
    .top_sec04 {
        height: 300px;
    }
    .top_sec01_wrap {
        padding: 40px 0;
        margin: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .top_sec01 h4 {
        font-size: 2.3rem;
    }
    .top_sec01_news {
        margin-left: 15px;
        margin-right: 30px;
        max-width: 70px;
    }
    .top_sec01_wrap p a {
        font-size: 1.4rem;
        line-height: 2.5;
    }
    .top_sec01 h2 {
        font-size: 2.4rem
    }
    /* end top page content */
    /*  start company section */
    .ttl_page {
        background: url("../img/common/bg_ttl_cotentsp.png");
    }
    .company_sec01 {
        margin-top: 40px;
    }
    .inner {
        width: 96%;
    }
    .box p:first-child {
        padding-top: 30px;
    }
    .box p:nth-child(2) {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .ttl_content01 {
        font-size: 2rem;
    }
    .company_sec01 div.box {
        padding: 12px 20px 12px 20px;
        margin-bottom: 0;
    }
    .company_sec01 div.box p {
        padding: 0;
    }
    .company_sec01 div.box p:nth-child(2) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .box {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .box p {
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .company_sec02 {
        margin-top: 40px;
    }
    .company_sec02 div.infor_table tbody tr:nth-child(2) th,
    .company_sec02 div.infor_table tbody tr:nth-child(3) th,
    .company_sec02 .infor_table tbody tr:nth-child(6) th {
        padding-left: 10px;
    }
    .infor_table table tbody tr th {
        width: 95px;
        position: relative;
        font-size: 1.4rem;
        padding-left: 10px;
    }
    .recruit_sec01 div.infor_table tbody tr:nth-child(4) th {
        padding: 4px 11px 6px 10px;
    }
    .infor_table tr td {
        font-size: 1.4rem;
        padding: 5px 20px;
    }
    .infor_table tr th.span-row::after {
        margin-top: 36px;
    }
    .pic_services img {
        max-width: 100%;
    }
    .pic_services img:nth-child(2) {
        max-width: 100%;
        padding-top: 30px;
        padding-left: 0px;
    }
    .map iframe {
        margin-top: 30px;
        width: 100%;
        height: 250px;
    }
    .infor_table {
        margin-top: 20px;
    }
    .company_sec02 .infor_table {
        margin-top: 20px;
    }
    .pic_services {
        margin-top: 30px;
        text-align: center;
    }
    .note-map p {
        font-size: 1.4rem;
        padding-bottom: 15px;
    }
    .note-map {
        margin-top: 20px;
    }
    .company_sec02 .map {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .note-map span {
        padding-left: 18px;
    }
    /* End compnay page */
    /* Start product page */
    .ttl_content01 span img {
        width: 22px;
    }
    .ctn_bussiness {
        flex-direction: column;
        display: flex;
    }
    .ctn_bussiness_left {
        width: 100%;
    }
    .info_product h4.ttl_info_product {
        font-size: 1.8rem;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .info_product p.des_info_product {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 10px;
    }
    .info_product p.des_info_product {
        margin-bottom: 10px;
        padding: 15px;
    }
    .ctn_bussiness_right {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ctn_bussiness_right img {
        width: calc(50% - 2rem);
        display: inline-block;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    .product_sec01 div.box {
        margin-top: 0;
        padding: 2px 8px;
    }
    .product_sec01 .box p span:first-child {
        font-size: 1.7rem;
    }
    .product_sec01 div.box p {
        padding: 10px;
    }
    .product_sec01 {
        margin-top: 40px;
    }
    .list_menufactor_product {
        margin-top: 30px;
        display: block;
    }
    .list_menufactor_product ul li {
        display: inline-block;
        font-size: 1.4rem;
        padding-right: 20px;
        padding-left: 7px;
        margin: 5px;
        position: relative;
    }
    .list_menufactor_product ul li::before {
        content: ".";
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        position: absolute;
        left: -1px;
        bottom: 4px;
    }
    .list_menufactor_product ul li:last-child::before {
        display: none;
    }
    .list_menufactor_product ul {
        width: 100%;
    }
    .product_sec02 {
        margin-top: 40px;
    }
    .list_menufactor_item:last-child li:last-child {
        width: 100%;
    }
    .list_menufactor_product {
        margin-bottom: 50px;
    }
    .info_product h4.ttl_info_product::before {
        top: 2px;
    }
    /* End product section for SP */
    /* Start Recruit Section for SP */
    .recruit_sec01,
    .recruit_sec02 {
        margin-top: 40px;
    }
    .recruit_sec02 {
        margin-bottom: 40px;
    }
    .btn_contact a img {
        width: 95%;
        height: 70px;
    }
    .recruit_sec01 div .box {
        padding: 15px 20px 15px 20px;
    }
    .recruit_sec01 div.box p {
        font-weight: normal;
        line-height: 1.7;
        padding: 0;
    }
    .recruit_sec01 .infor_table tbody tr:nth-child(6) th {
        line-height: 2;
    }
    .recruit_sec01 .infor_table tbody tr:nth-child(6) td,
    .recruit_sec01 .infor_table tbody tr:nth-child(7) td {
        line-height: 1.7;
        padding: 12px 20px;
    }
    .recruit_box01 h4 {
        font-size: 1.5rem;
        padding-top: 0;
    }
    .recruit_sec02 .box.recruit_box01 {
        padding: 20px;
    }
    .child_box02 p,
    .recruit_box01 p {
        padding-top: 0;
    }
    .child_box02 span,
    .child_box02 a {
        font-size: 1.5rem;
    }
    .btn_contact {
        margin-bottom: 50px
    }
    .recruit_sec02 .child_box02 {
        padding: 15px 15px 4px 15px;
    }
    /* End Recruit Section for SP */
    /* start contact for SP */
    .contact_sec01,
    .contact_sec02 {
        margin-top: 40px;
    }
    .contact_box ul li {
        padding-left: 15px;
        font-size: 2rem;
        padding-top: 11px;
        float: none;
    }
    ul.content_list li:last-child {
        padding-left: 13px;
    }
    .contact_box ul li:nth-child(2) span {
        padding-left: 0;
    }
    .contact_box {
        padding-bottom: 10px;
        margin-top: 30px;
        padding-top: 4px;
    }
    .table-contact tr th img.require {
        height: 16px;
        width: auto;
        margin-top: -1px;
        margin-right: 10px;
    }
    .contact_box ul li span {
        font-size: 1.6rem;
    }
    .contact_instruction p {
        font-size: 1.4rem;
        margin-top: 20px;
    }
    .table-contact tr th {
        width: 180px;
        font-size: 1.4rem;
    }
    .table-contact tr td input {
        min-height: 20px;
        padding: 0 8px;
    }
    .table-contact tr td {
        padding: 10px;
    }
    .table-contact tr:nth-child(2) td,
    .table-contact tr:nth-child(3) td,
    .table-contact tr:last-child td {
        padding: 10px 10px 5px 10px;
    }
    .is_error_textarea,
    .is_error_mail,
    .is_error_name {
        padding-top: 5px;
    }
    .is-error {
        font-size: 10px;
    }
    .submit_contact {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .table-contact tr td textarea {
        min-height: 100px;
        padding: 10px 10px;
    }
    .submit_contact input {
        padding: 10px 25px;
        width: 100px;
        height: 50px;
    }
    .table-contact tr th span {
        margin-right: 10px;
    }
    /* End contact for SP */
    /* Start privacy policy for SP */
    .privacy_content {
        margin-top: 40px;
    }
    .privacy_content p.des_first_ttl {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .privacy_content .privacy_wrap p {
        font-size: 1.4rem;
        line-height: 1.5;
        padding-top: 5px;
    }
    .privacy_content .box {
        padding: 20px 19px 18px 20px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .privacy_content div.box_policy01 {
        padding-top: 20px;
    }
    .privacy_content .box_policy02 .child_box02 ul li {
        font-size: 1.4rem;
        line-height: 2;
    }
    .privacy_content .box_policy02 .child_box02 ul li:nth-child(2) {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .privacy_content .box:last-child {
        margin-bottom: 50px;
    }
    .child_box02 {
        padding: 15px;
    }
    /* End privacy policy for SP */
    /* Start Site Mapfor SP */
    .sitemap_contents ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sitemap_contents ul li {
        max-width: 100%;
        width: 100%;
        padding: 16px 43px;
    }
    .sitemap_contents ul li:first-child {
        margin-left: 0px;
    }
    .sitemap_contents ul li a {
        font-size: 1.5rem;
    }
    .sitemap_contents ul:nth-child(2) {
        margin-top: 0;
        margin-bottom: 0;
    }
    .sitemap_contents ul:nth-child(2) li,
    .sitemap_contents ul:nth-child(3) li {
        margin-top: 20px;
    }
    .sitemap_contents {
        margin-top: 30px;
        padding: 20px;
    }
    .sitemap_content {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    /* End Site Mapfor SP */
}